name: Build and Deploy Code

on: [push, pull_request]

jobs:
  job1:
    env:
      SECRET_KEY: your_secret_key
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      DATABASE_HOSTNAME: localhost
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: santhu
      DATABASE_NAME: fastapi

    runs-on: ubuntu-latest

    steps:
      - name: Pulling git repo
        uses: actions/checkout@v2

      - name: Install Python 3.12
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"

      - name: Update pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run pytest
        run: |
          pip install pytest
          pytest
